<div class="contenedor">
    <img src="assets/img/restaurant1.jpg" class="card-img-top">
    <div class="sub">
        ANTOJITOS MEXICANOS
    </div>

    <div class="tittle animate__bounce animate__bounce ">
        “Aguascalientes”
    </div>

    <!-- <button type="submit" [routerLink]="'/platillos'" class="btn btn-lg boton">PLATILLOS</button> -->
    <button type="submit" [routerLink]="'/platillos'" class="btn btn-lg boton2">VER PLATILLOS</button>
</div>
<div>
    <img class="base" src="assets/img/2.jpg">
</div>